@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #FFEECF;
    --secondary-color: #253C78;
    --tertiary-color: #2B59C3;
    --accent1-color: #C9A690;
    --accent2-color: #D36582;

    /* change the values below to your chosen font(s) */
    --heading-font: "Covered By Your Grace", "Brush Script MT", "Courier New";
    --sub-heading-font: "Averia Libre", Helvetica, sans-serif;
    --paragraph-font: "Averia Libre", Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #253C78;
    /* headlines on a white background */
    --headline-color-on-color: #FFEECF;
    /* headlines on a colored background */
    --paragraph-color-on-white: #2B59C3;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #FFEECF;
    /* paragraph text on a colored background */
    --paragraph-background-color: #253C78;
    --nav-link-color: #253C78;
    --nav-background-color: #FFEECF;
    --nav-hover-link-color: #2B59C3;
    --nav-hover-background-color: #C9A690;
    --link-color: #C9A690;
    --link-hover-color: #D36582;
    --link-color-reverse: #2B59C3;
    --link-hover-color-reverse: #D36582;
}

body {
    background-color: var(--secondary-color);
    padding: 0;
    margin: 0;
    font-family: var(--paragraph-font);
}

body h2 {
    color: var(--primary-color);
}

main section {
    text-align: center;
}
main section img{
    box-sizing: border-box;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

h2 {
    margin: 0;
}


h3,
h4,
h5,
h6 {
    font-family: var(--sub-heading-font), "Trebuchet MS", "Tahoma";
    color: var(--headline-color-on-white);
}

h4 {
    color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
}

footer {
    background-color: var(--primary-color);
    padding: 25px 50px;
    margin-top: 50px;
}

footer h3 {
    color: var(--secondary-color);
}

footer a {
    color: var(--link-color-reverse);
}

footer a:hover {
    color: var(--link-hover-color-reverse);
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 35px;
}

.book,
.join {
    color: var(--link-color);
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    color: var(--link-hover-color);
}

.button-box {
    text-align: center;
}

.card-img{
    border:10px solid var(--tertiary-color);
}

.home-title {
    color: var(--primary-color);
    font-size: 2em;
    margin-top: 10px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
    height: 80px;
}

.msg {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
    line-height: 1.5em;
    padding:35px;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}
.rivers-card, .camping-card,.rapids-card{
margin:200px 0;
}

#background {
    height: 725px;
    background-color: var(--tertiary-color);
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-img {
    width: 100%;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}
#logo_link{
    padding-top: 5px;
}