
/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  /* change the values below to your colors from your palette */

  --modern_agile_color_1: #a4d970 ;
  --modern_agile_color_2: #fbd35c;
  --modern_agile_color_3:#fa7977 ;
  --modern_agile_color_4:#a1bde3 ;
  --modern_agile_color_5: #4b5666;


  --primary-color:  #264653;
  --secondary-color: #2A9D8F;
  --accent1-color: #E9C46A;
  --accent2-color: #E76F51;
  --accent3-color: #F4A261;
  --primary-background-color:#dfdfdf;

  /* change the values below to your chosen font(s) */
  --heading-font: "Bebas Neue", Arial, sans-serif;
  --paragraph-font: "Open Sans", Helvetica, sans-serif;


  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #264653;  /* headlines on a white background */ 
  --headline-color-on-color: #E9C46A; /* headlines on a colored background */ 
  --paragraph-color-on-white: #2A9D8F; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #E9C46A; /* paragraph text on a colored background */ 
  --paragraph-background-color: #264653  ;
  --nav-link-color: #2A9D8F;
  --nav-background-color: #264653;
  --nav-hover-link-color: #E76F51;
  --nav-hover-background-color: #F4A261;
  --link-color: #F4A261;
  --link-hover-color: #D36582;
  --link-color-reverse: #2B59C3;
  --link-hover-color-reverse: #D36582;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
  display: flex;
}

nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  color: var(--nav-link-color);
  font-family: var(--heading-font);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.content{
  text-align: left;
}

.primary{
  background-color: var(--primary-color);
}
.secondary{
  background-color: var(--secondary-color);
}
.accent1{
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}


.heading-font{
  font-family: var(--heading-font);
}

.paragraph-font{
  font-family: var(--paragraph-font);
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

#home_image_container{
  display:grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(4, 250px);
}

#home_image_container img{
  width: 200px;
  height: 200px;
  margin: 25px;
}

#home_transformers_logo{
  grid-column: 1/2;
  grid-row: 1/2;
}

#home_modern_agile_wheel{
  grid-column: 2/3;
  grid-row: 1/2;

}

#home_make_awesome_icon{
  grid-column: 1/2;
  grid-row: 2/3;
}

#home_safety_icon{
  grid-column: 2/3;
  grid-row: 2/3;
}

#home_experiment_icon{
  grid-column: 1/2;
  grid-row: 3/4;
}

#home_deliver_value_icon{
  grid-column: 2/3;
  grid-row: 3/4;
}



#home_horizontal_icon{
  grid-column: 1/2;
  grid-row: 4/5;
}

#home_vertical_icon{
  grid-column: 2/3;
  grid-row: 4/5;
}

#horizontal_image_container{
  display:grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(3, 250px);
  width: 100%;

}

#horizontal_image_container img{
  width: 200px;
  height: 200px;
  margin: 25px;
}

#horizontal_transformers_logo{
  grid-column: 1/2;
  grid-row: 1/2;
}

#horizontal_wheel{
  grid-column: 2/3;
  grid-row: 1/2;
}

#horizontal_experiment_focus{
  grid-column: 1/2;
  grid-row: 2/3;
}

#horizontal_deliver_focus{
  grid-column: 2/3;
  grid-row: 2/3;
}

#horizontal_experiment_icon{
  grid-column: 1/2;
  grid-row: 3/4;
}

#horizontal_deliver_icon{
  grid-column: 2/3;
  grid-row: 3/4;
}

#vertical_image_container{
  display:grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(4, 250px);

}

#vertical_image_container img{
  width: 200px;
  height: 200px;
  margin: 25px;
}

#vertical_transformers_logo{
  grid-column: 1/2;
  grid-row: 1/2;
}

#vertical_wheel{
  grid-column: 2/3;
  grid-row: 1/2;
}

#vertical_awesome_focus{
  grid-column: 1/2;
  grid-row: 2/3;
}

#vertical_safety_focus{
  grid-column: 2/3;
  grid-row: 2/3;
}

#vertical_awesome_icon{
  grid-column: 1/2;
  grid-row: 3/4;
}

#vertical_safety_icon{
  grid-column: 2/3;
  grid-row: 3/4;
}

